<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Attached: Your signed copy of <em><%= @book.title %></em></h1>
    <p><%= @ebook_signature.name %>,</p>

    <p>Attached, please find your signed electronic copy of <em><%= @book.title %></em>, 
      lovingly hand-crafted by the tiny, hyperintelligent squirrels that run my web server,
      and hand-stitched together by our dedicated, hard-working algorithms.  I hope it brings 
      you many hours of enjoyment, and inspires you to be your very best.</p>
      
    <p>Good day and good luck,</p>

    <p><%= @book.author.name %>,<br/>
      Author and Proprietor of <a href="http://bannedsorcery.com">bannedsorcery.com</a></p>
  </body>
</html>