<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Attached: Your signed copy of <em><%= @book.title %></em></h1>
    <p><%= @ebook_signature.name %>,</p>

    <p>Attached, please find your signed electronic copy of <em><%= @book.title %></em>, 
      lovingly hand-crafted by the tiny, hyperintelligent squirrels that run my web server,
      and hand-stitched together by our dedicated, hard-working algorithms.  I hope it brings 
      you many hours of enjoyment, and inspires you to be your very best.</p>
      
    <p>Good day and good luck,</p>

    <p><%= @book.author.name %>,<br/>
      Author and Proprietor of <a href="http://bannedsorcery.com">bannedsorcery.com</a></p>
      
    <hr/>

    <h2>Instructions for loading onto your e-reader:</h2>

    <p>Nook:  Plug the Nook into your computer and copy the <strong>.epub</strong> file to its "My Documents" folder.</p>

    <p>Kindle: Plug in the Kindle, copy the <strong>.mobi</strong> file to the "Documents" folder.  More help can be
    found at <a href="http://www.amazon.com/gp/help/customer/display.html?nodeId=200375630">http://www.amazon.com/gp/help/customer/display.html?nodeId=200375630</a>.</p>

    <p>Kindle Fire:  Same process as Kindle, but I believe the .mobi file goes into the "Books" folder.</p>

    <p>You can also use Calibre (a free, open source program) to manage the books on your device, and to
    read ebooks on your laptop.  Visit <a href="http://calibre-ebook.com">calibre-ebook.com</a> for details.</p>

    <p>For other devices... really, I have no advice beyond "consult Google the All-Seer."</p>
  </body>
</html>