.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
Capfile
config/app.*
config/database.yml
config/deploy.example.rb
config/deploy.rb
config/initializers/secret_token.rb
lib/generators
public/assets/*
public/images/
public/favicon.ico.*
public/downloads/stories/*
stash/
*.DS_Store
public/assets/covers
app/views/pages/abstract7-mandala.svg
app/views/pages/svgtest.html.erb
code_cache.rb
code_cache2.rb
markitup_latest/
shared/
public/downloads
epubforge_projects/
