.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
Capfile
config/app.yml
config/database.yml
config/deploy.example.rb
config/deploy.rb
lib/generators
public/assets/*
public/images/
public/favicon.ico.*
public/downloads/stories/*
stash/
*.DS_Store
public/assets/covers