<h1>About <%= @author.name %></h1>

<% logged_in? do -%>
  <div class="actions single">
    <%= link_to 'Edit', edit_author_path(@author) %>
  </div>
<% end -%>

<%= markdown @author.long_bio %>

<p class="todo">Contact information should go here!</p>