<h1>Short Stories</h1>

<% logged_in? do -%>
  <div class="actions single">
    <%= link_to 'New Story', new_story_path %>
  </div>
<% end -%>

<div class="story_index">
  <%= render @stories %>
</div>

