@import _library

form.decorated
  width: 450px
  
  div
    margin: 1em
    
    label
      float: left
      width: 10em
      margin-right: 2em
      text-align: right
      
    input[type=submit]
      +simple_center()