@import _library


form.decorated
  width: 450px
  
  div
    margin: 1em
    
    label
      float: left
      width: 10em
      margin-right: 2em
      text-align: right
      
    input[type=submit]
      +simple_center()
      
    &.for_check_box
      p
        margin-top: 0.0em
        padding-top: 0.0em
        padding-left: 2em
        float: left
        
      input[type=checkbox]
        float: left
        margin-left: 8em