@import _library

body
  +grid_container(15)
  width: 100%
  background-image: url("/assets/starfield.png")
  background-color: black
  
  
a:hover
  background-color: #669966
  
  
div#header
  img
    +simple_center()
    margin-top: 1em
    margin-bottom: 1em
    
    
div#header, div#footer
  +grid_element( 15, 15, 0% )
  background-color: black
  background-color: rgba(0,0,0,0.6)  
div#sidebar
  +grid_element( 3, 15, 0% )
  background-color: #001122
  background-color: rgba(0,128,255,0.2)
div#content
  +grid_element( 11, 15, 0% )
  background-color: #fff
  background-color: rgba(255,255,255,0.9)
  color: #000
  padding: 2%  
  
  h1
    text-align: center
    
div#notices
  p.error
    color: red
  
  p.notice
    color: green
    
  p.warning
    color: brown    
    
    
div#footer, div#sidebar
  text-align: center
  color: gray
  
  a
    color: gray
    text-decoration: none
    padding: 0.4em
  a:hover
    color: white
    background-color: gray
    background-color: rgba(255,255,255,0.3)
    
    
div#sidebar
  a
    font-size: 2em
    display: block
    width: 90%
    +simple_center()
    

div#social_media_links
  a
    font-size: 13px
    display: inline
    opacity: 0.4
  a:hover
    background-color: transparent
    opacity: 1.0
    

div.actions
  text-align: center
  a
    text-decoration: none
    
div.actions.single
  font-size: 2em
  a
    display: block
    padding: 1em
    width: 50%
    +simple_center()
    +round_corners()
    
.todo
  display: none