// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import _library


div.book
  background-color: white
  +round_corners()
  +clearfix()
  
  h2
    line-height: 1.4em
    text-align: center
    span.title
      font-style: italic
      font-size: 1.3em
    
  div.image
    width: 49%
    float: left
    background-color: rgba(0,0,0,0.4) 
        
    img
      width: 250px
      +simple_center()
    
  div.summary
    width: 49%
    float: right
    background-color: rgba(0,0,0,0.4) 
    
  div.how_to_buy
    clear: both
    width: 90%
    +simple_center()
    text-align: center
    border: 1em solid transparent
    
    p
      display: inline
      margin: 1em

    a
      opacity: 0.9
      
    a:hover
      opacity: 1.0
      background-color: transparent
    
p.tweet_length_counter
  color: white
  background-color: #990000
  width: 3.0em
  font-size: 1.6em
  text-align: center
  padding-top: 0.4em
  padding-bottom: 0.4em
  +round_corners(0.4em)