@import _library



div.story_index
  width: 100%
  div.story_index_item
    background-color: #eeffdd
    +round_corners()
    margin-top: 0.5em
    margin-bottom: 0.5em
    
    h2.title
      text-align: center
      font-size: 1.7em
      width: 100%
      padding-top: 0.6em
      padding-bottom: 0px
      margin-bottom: 0px
      
    p.teaser
      width: 100%
      font-style: italic
      text-align: center
      margin-top: 0px
      padding-top: 0px
      
    &.unpublished
      background-color: #ffdddd
      +watermark( image-url('lock_shadow.png'))
      
div.story
  hr
    width: 118px
    height: 44px
    background:
      image: url("/assets/constellation.png")
    border: 0px solid transparent
  
  p.unpublished
    text-align: center
    color: white
    background-color: red
    +simple_center()
    width: 50%
    font-size: 1.4em
    
  p.author
    text-align: center
    font-style: italic

/************************* SCREEN-SIZE SPECIFIC DIRECTIVES ****************************/
/* Only one story per row */
@media only screen and (max-width: 640px)
  div.story_index
    div.story_index_item
      width: 95%
      +simple_center()
      p.teaser
        font-size: 0.95em
        margin: 0.2em

/* two stories per row */
@media only screen and (min-width: 641px) and (max-width: 900px)
  div.story_index
    +grid_container(2)
  
    div.story_index_item:nth-child(2n+1)
      clear: both

    div.story_index_item
      +grid_element( 1, 2, 3% )
      
  

/* three stories per row */
@media only screen and (min-width: 901px)
  div.story_index
    +grid_container(3)
  
    div.story_index_item:nth-child(3n+1)
      clear: both

    div.story_index_item
      +grid_element( 1, 3, 3% )

