<div id="sidebar">
  <p><%= link_to "stories", stories_path %></p>
  <p><%= link_to "about me", "/author" %></p>
  <%= render :partial => "/layouts/author" %>
  <%= render :partial => "/layouts/social_media" %>
</div>
