- if record.errors.any?
  %div#error_explanation
    %h2
      = pluralize(record.errors.count, "error")
      prohibited this author from being saved:

    %ul
      - record.errors.full_messages.each do |msg|
        %li
          = msg
